//Colors

$body-gradient-blue: orange;
$body-gradient-purple: red;

$blue-medium: #5fc1e8;
$red-medium: #f7936f;
$green-medium: #6bd6a9;
$yellow-medium: #fab62c;

$blue-light: #cfecff;
$red-light: #ffd3c5;
$green-light: #c3ffdc;
$yellow-light: #fff6cf;

$black: #272727;
$white: #fff;

$hero-heading: #C8BEE2;

//Fonts
$font-family: 'Montserrat', sans-serif;

// Breakpoints
$medium-width: 640px;
$large-width: 1125px;
$extralarge-width: 1400px;

$global-width: 1200px;
